<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->
    <context:component-scan base-package="com.zz.*"/>

    <!--<bean id="helloWorld" class="com.zz.s1.HelloWorldImpl"/>-->
    <bean id="cField1" class="com.zz.s1.CField1">
        <property name="sfield" value="string field"/>
    </bean>
</beans>